

:root {
    --color-app-bg: #f3f3f3;
    --color-container-bg: #f3f3f3;
    --gap-container: 0.5rem;
    --radius-container: 0.5rem;
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.container {
    border-radius: var(--radius-container);
    background-color: var(--color-container-bg);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    
    padding: 0.8rem;
    border: 1px solid #3c3c3c;
    /* background-image: url(assets/grid4.png); */
    /* background-size: 128px; */
    /* background-position: center; */
}

p {
    margin: 0;
    color: #3c3c3c;
}

body { 
    box-sizing: border-box;
    font-family: sans-serif; 
    padding: var(--gap-container);
    margin: 0;
    background-color: var(--color-app-bg);
    /* background-image: url("assets/grid4.png"); */
    background-size: 128px 128px;
    background-repeat: repeat;

    height: 100dvh;

    display: flex;
    flex-direction: row;

    gap: var(--gap-container);
}


.container-left,
.container-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--gap-container);
}

.container-left .container-top,
.container-right .container-top,
.container-left .container-bottom,
.container-right .container-bottom {
    flex: 1;
}

/* .container-left .container-bottom,
.container-right .container-bottom {
    flex: 1;
    background-color: var(--color-container-bg);
} */

.container-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    
}